* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --main-color: rgb(255, 211, 51);
    --hover-color: rgb(248, 197, 29);
    --main-margin: 0 3.5rem;
}

body {
    background-color: #F5F5F5;
}

/*--------------------    top-nav      ---------------------*/
header .top-nav {
    background-color: #F5F5F5;
    display: flex;
    padding: 0.2rem 3.5rem;
    align-items: center;
    justify-content: space-between;
}

header .top-nav ul li a {
    color: #6C757D;
    font-size: 1.2rem;
}

header .top-nav ul li a:hover {
    text-decoration: underline;
}

header .top-nav button {
    display: inline-block;
    position: relative;
    background-color: #fff;
    border: none;
    color: #212529;
    padding: 0.7rem 1rem;
}

.top-nav button div {
    display: none;

    position: absolute;
    background-color: white;
    width: 140px;
    padding: 0.4rem;
    top: 100%;
    right: 0;
}

.top-nav button div span {

    display: block;
    padding: 0.3rem;
    text-align: left;
}

.top-nav button div span a {
    text-decoration: none;
    color: black;

    font-size: 14px;
}

.show {
    display: block !important;
}

.top-nav button div span:hover {
    background-color: rgb(235, 232, 232);
}

header .top-nav button:hover {
    background-color: rgb(235, 232, 232);
}

header .top-nav button::after {
    content: "";
    display: inline-block;
    position: absolute;
    margin: 0 5px;
    top: 50%;
    right: 0;
    transform: translate(-50% -50%);
    border-top: 5px solid;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-bottom: 0;
}

@media (max-width:992px) {
    #top-nav {
        display: none;
    }


    header .top-nav {
        justify-content: center;
    }
}

/*-------------------------      search-nav       ------------------------------*/
header .search-nav {
    background-color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: var(--main-margin);
}

header .search-nav div {
    flex: 1;
    font-family: "Roboto", sans-serif;
    margin: 0.5rem 0;
}

header .search-nav .search {
    display: flex;
    align-items: center;
}

header .search-nav .search input {
    width: 90%;
    height: 2.2rem;
    border: 1px solid #d8dbdd;
}

header .search-nav .search span {
    width: 10%;
    height: 2.2rem;
    border: 1px solid #d8dbdd;
    border-left: 0;
    color: var(--main-color);
}

header .search-nav .logo span {
    display: inline-block;
    padding: 0.40rem 1rem;
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 700;
}

header .search-nav .logo-part-1 {
    background-color: black;
    color: var(--main-color);
}

header .search-nav .logo-part-2 {
    background-color: var(--main-color);
    color: black;
}

header .search-nav .bars-mobile {
    display: none;
}

header .search-nav #customer-service {
    text-align: right;
}

header .search-nav #customer-service :nth-child(1) {
    color: #6C757D;
    padding: 8px;
}

header .search-nav #customer-service :nth-child(2) {
    font-weight: bold;
    font-size: 20px;
}


@media (max-width:992px) {

    header #main-nav .category,
    header #main-nav .icons {
        display: none;
    }

    header #main-nav .nav-list {
        display: none;
        margin-left: 0;
    }

    header #main-nav .nav-list .page-option {
        width: 100%;
        margin: 8px;
        position: relative;
    }

    header .main-nav .nav-list ul li {
        display: block;
    }

    header .search-nav {
        background-color: #3D464D;
        margin: 0;
        padding: 0 1.5rem;
    }

    header .search-nav .search {
        display: none;
    }

    header .search-nav #customer-service {
        display: none;
    }

    header .search-nav .logo .logo-part-1 {
        background-color: #fff;
        color: black;
    }

    header .search-nav .logo .logo-part-2 {
        color: #fff;
    }

    header .search-nav .bars-mobile {
        display: inline-block;
        max-width: 50px;
        padding: 0.2rem;
        text-align: center;
        font-size: 1.5rem;
        color: #6C757D;
        border: 1px solid #6C757D;
    }
}


/*-------------------------     main-nav     -----------------------------*/
header .main-nav {
    display: flex;
    width: 100%;
    padding: var(--main-margin);
    background-color: #3D464D;
    justify-content: space-between;
    align-items: center;

}

header .main-nav .category {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    background-color: var(--main-color);
    width: 22%;
    align-items: center;
    height: 4rem;
    padding: 0 1.5rem;
}

header .main-nav .category:hover {
    background-color: var(--hover-color);
}

header .main-nav .nav-list {
    flex-grow: 1;
    flex-shrink: 1;
    margin-left: 2rem;
}

.nav-list nav ul li a {
    color: #fff;
    font-size: 1.1rem;
}

.main-nav .fa-angle-down {
    font-size: 0.8rem;
}

.nav-list nav ul li a:hover {
    color: var(--main-color);
}

.main-nav .nav-list .active a {
    color: var(--main-color);
}

.main-nav .category .fa-bars {
    font-size: 1.3rem;
}

.main-nav .category p {
    font-size: 1.3rem;
    flex-grow: 1;
    margin-left: 1rem;

}

.main-nav .icons {
    display: flex;
    width: 7%;
    align-items: center;
    justify-content: space-between;
}

.main-nav .icons div {
    flex-shrink: 0;
}

.main-nav .icons div span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 1.2rem;
    height: 1.2rem;
    border: 1px solid #fff;
    border-radius: 50%;
    color: white;
}

.main-nav .icons .fa {
    color: var(--main-color);
    font-size: 1.05rem;
}

header .main-nav .category .cate-option {
    display: none;
    z-index: 100;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
}

header .main-nav .category .cate-option ul li {
    display: block;
    padding: 0.7rem 1.8rem;
    border-bottom: 1px solid #F5F5F5;
}

header .main-nav .category .cate-option ul a {
    color: gray;
    font-size: 18px;
    transition: 0.5s;
    text-decoration: none;
}

header .main-nav .category .cate-option ul a:hover {
    color: black;
}

header .main-nav .nav-list .page-option {
    display: none;
    z-index: 88;
    position: absolute;
    width: 150px;
    left: 0;
    top: 133%;
    background-color: var(--main-color);
    color: #fff;
}

header .main-nav .nav-list .page-option ul li {
    padding: 10px;
    color: black;
}

header .main-nav .nav-list .page-option ul a:hover {
    display: block;
    background-color: #F5F5F5;
}

#pages-menu {
    position: relative;
}

/*----------------------        carousel        ------------------------------*/
.product-cate h2 {
    margin: var(--main-margin);
    padding-bottom: 2rem;
    font-size: 2.5rem;
}

.carousel {
    display: grid;
    position: relative;
    height: 450px;
    margin: 1rem 3.5rem;
    grid-template-columns: 66% 34%;
    grid-template-rows: 50% 50%;
    gap: 10px 10px;
}

.carousel .carousel-one {
    grid-row: 1/3;
    position: relative;
}

.carousel .carousel-one .slide {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    clip-path: circle(0.4% at 0 50%);
}

.carousel .carousel-one .slide.active-slide {
    z-index: 2;
    clip-path: circle(150% at 0 50%);
    transition: 1s;
    transition-property: clip-path;
}

.carousel .carousel-one .slide img {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.carousel .carousel-one .info {
    z-index: 2;
    width: 70%;
    margin: auto auto;
    height: 100%;
    color: #fff;
    position: absolute;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.carousel .carousel-one .slide .info p:nth-child(1) {
    font-size: 40px;
    margin: 20px;
}

.carousel .carousel-one .slide .info p:nth-child(2) {
    font-size: 20px;
}

.carousel .carousel-one .slide .info .main-btn {
    color: #F5F5F5;
    margin: 30px;
    background-color: transparent;
    border: 1px solid #fff;
}

.carousel .carousel-one .slide .info .main-btn:hover {
    background-color: #F5F5F5;
    color: #212529;
}

.carousel .carousel-one .navegation {
    z-index: 3;
    width: 88px;
    position: absolute;
    bottom: 20px;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}

.carousel .carousel-one .navegation .btn {
    transition: 1s;
    cursor: pointer;
    background-color: transparent;
    border: 1px solid #fff;
    width: 14px;
    height: 17px;
    margin: 5px;
}

.carousel .carousel-one .navegation .active-slide {
    flex-grow: 1;
    background-color: #fff;

}


.carousel .offer-one,
.carousel .offer-two {
    overflow: hidden;
    position: relative;
}

.carousel .offer-one img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.carousel .offer-two img {
    width: 100%;
    height: 100%;
    transition: 1s;
}

.carousel .offer-one:hover img {
    transform: scale(1.3) rotate(5deg);

}

.carousel .offer-one div,
.carousel .offer-two div {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.carousel .offer-one div :nth-child(2),
.carousel .offer-two div :nth-child(2) {
    margin: 0.8rem;
    font-size: 1.3rem;
    font-weight: bold;
}

.carousel .offer-two:hover img {
    transform: scale(1.3) rotate(5deg);
}

@media (max-width:767px) and (min-width:991px) {
    .carousel {
        height: 400px;

        grid-template-columns: 100%;
        grid-template-rows: 50% 25% 25%;
    }

    .carousel .carousel-one {

        grid-row: 1/2;
    }
}

@media (max-width:992px) {
    .carousel {
        height: 700px;
        margin: 1rem 1.5rem;
        grid-template-columns: 100%;
        grid-template-rows: 50% 25% 25%;

    }

    .carousel .carousel-one {

        grid-row: 1/2;
    }
}

/*-----------------------      services       --------------------------*/
.services {
    margin: var(--main-margin);
    margin: 5rem 3.5rem;
    display: grid;
    gap: 1.5rem;
    grid-template-columns: repeat(4, 1fr);
}

.services div {
    padding: 1.5rem;

    background-color: #fff;
}

.services div .fa {
    color: var(--main-color);
    font-size: 2rem;
}

.services div span {
    font-size: 1.5rem;
}

@media (max-width: 991px) {
    .services {
        grid-template-columns: repeat(1, 1fr);
        gap: 1.5rem;
        margin: 5rem 1.5rem;
    }
}

@media (min-width:992px) and (max-width:1199px) {
    .services {
        grid-template-columns: repeat(2, 1fr);
        gap: 1.5rem;
    }
}

/*-----------------------------   categories   -----------------------------*/
.product-categories {
    margin: var(--main-margin);
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    gap: 1.5rem 1.5rem;
}

.product-categories div {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: 100%;
}

.product-categories div img {
    width: 35%;
    height: 100%;
    transition: 1s;
}

.product-categories div:hover img {
    transform: scale(1.2) rotate(3deg);
}

.product-categories div:hover p {
    background-color: var(--main-color);
}

.product-categories div p {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: 1s;
    position: absolute;
    top: 0;
    left: 35%;
    width: 65%;
    height: 100%;
    background-color: #ffffff;
}

.product-categories div p :nth-child(1) {
    font-weight: bold;
    padding: 0.5rem;
}

.product-categories div p :nth-child(2) {
    color: #6C757D;
}

@media (max-width: 991px) {
    .product-categories {
        margin: 0 1.5rem;
    }
}

/*------------------   feature product ----------------------*/
.feature-product {
    margin: var(--main-margin);
}

.feature-product h3 {
    margin: 3rem 0;
    font-size: 30px;
}

.feature-product .feature-p-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(450px, auto));
    gap: 1.5rem 1.5rem;

}

.feature-product .feature-p-container .product {
    background-color: #fff;
    width: 100%;
}

.feature-product .feature-p-container .product .img-product {
    overflow: hidden;
}

.feature-product .feature-p-container .product img {
    /*width: 300px;*/
    width: 100%;
    object-fit: cover;
    transition: 1s;
}

.feature-product .feature-p-container .product img:hover {
    transform: scale(1.2);
}

.feature-product .feature-p-container .product .product-info {
    display: flex;
    padding: 1.5rem;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.feature-product .feature-p-container .product .product-info p:nth-child(1) {
    padding: 0.5rem;
    font-weight: bold;
}

.feature-product .feature-p-container .product .product-info p:nth-child(2) {
    padding: 0.5rem;
    font-weight: bold;
    font-size: 25px;
}

.feature-product .feature-p-container .product .product-info p:nth-child(2) span {
    padding: 0.5rem;
    font-size: initial;
    font-weight: initial;
    text-decoration: line-through;

}

.feature-product .feature-p-container .product .product-info .star {
    color: var(--main-color);
    padding: 0.4rem;
}

/*--------------------      ------------------------*/
.offer {
    margin: 6rem 3.5rem
}

.offer .offer-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.5rem;
}

.offer .offer-container .offer-one,
.offer .offer-container .offer-two {
    position: relative;
    overflow: hidden;
}

.offer .offer-container .offer-one:hover img,
.offer .offer-container .offer-two:hover img {
    transform: scale(1.1) rotate(3deg);
}

.offer .offer-container .offer-two img,
.offer .offer-container .offer-one img {
    transition: 0.5s;
    width: 100%;
    object-fit: contain;
}

.offer .offer-container .offer-one div,
.offer .offer-container .offer-two div {
    position: absolute;
    color: #fff;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width:991px) {
    .offer .offer-container {
        grid-template-columns: 1fr;
    }

    .feature-product,
    .offer {
        margin: 2rem 1.5rem;
    }
}

.foot {
    padding: var(--main-margin);
    background-color: #3D464D;
    color: #F5F5F5;
}

.foot footer {
    padding: 4rem 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    grid-template-rows: repeat(auto-fill, minmax(250px, auto));
    gap: 1.5rem 1.5rem;
}

.foot footer div {
    height: 100%;

}

.foot footer div p:nth-child(1) {
    font-size: 1.3rem;
    font-weight: bold;
    padding: 1.2rem 0;
}

.foot footer div p {
    margin: 1rem 0;
    font-size: 1.1rem;
}

.foot footer .GET-IN-TOUCH .fa-solid {
    color: var(--main-color);

}

.foot footer .GET-IN-TOUCH .touch-p {
    margin-bottom: 2rem;
}

.foot footer .QUICK-SHOP .fa-solid,
.foot footer .My-Account .fa-solid {
    font-size: 0.8rem;
}

.foot footer .QUICK-SHOP p,
.foot footer .My-Account p {
    margin: 0.8rem 0.3rem;
}

.foot footer .QUICK-SHOP p a,
.foot footer .My-Account p a {
    color: #fff;
    padding-left: 0.6rem;
    text-decoration: none;
}

.foot footer .QUICK-SHOP p a:hover,
.foot footer .My-Account p a:hover {
    text-decoration: underline;
    opacity: 0.8;
}

.foot footer .NEWSLETTER form input {
    height: 2rem;
    width: 75%;
    border: none;
}

.foot footer .NEWSLETTER form input:hover {
    border: none;
}

.foot footer .NEWSLETTER form button {
    height: 2rem;
    width: 25%;
    border: none;
    background-color: var(--main-color);
}

.foot footer .NEWSLETTER span {
    display: block;
    padding: 1rem 0;
    font-size: 1.4rem;
}

.foot footer .NEWSLETTER a .fa-brands {
    font-size: 1.3rem;
    height: 40px;
    width: 40px;
    padding: 0 0.3rem;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-color);
}

.foot .end-foot {
    display: flex;
    width: 100%;
    height: 4rem;
    border-top: 1px solid #6C757D;
    justify-content: space-between;
    align-items: center;
}

.foot .end-foot p a {
    font-size: 1.1rem;
    color: var(--main-color);
}

@media (max-width:991px) {
    .foot .end-foot {
        height: 6rem;
        padding: 1rem;
        flex-direction: column;
    }

}